<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Rapatkan Shaf</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/cart/"><i class="fa fa-cart-plus"></i> Cart
                <span class="badge">{{session.cart.totalQty}}</span>
                </a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false"><i class="fa fa-user-md"></i> User Management <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{#if login}}
                        <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/user/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                        {{else}}
                        <li><a href="/user/signup"><i class="fa fa-user-plus"></i> Sign Up</a></li>
                        <li><a href="/user/signin"><i class="fa fa-user-secret"></i> Sign In</a></li>
                        {{/if}}
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>