.thumbnail img {
    max-height: 200px;
}

.thumbnail .description {
    color: rgb(57, 65, 65);
}

.price {
    font-weight: bold;
    font-size: 16px;
}

/* #container{
    min-height: 100%;
    position: relative;
} */

#footer {
    bottom: 0;
    width: 100%;
    position: relative;
    height: 50px;
    line-height: 50px;
    background: #eceaea;
    color: rgb(44, 42, 42);
    padding-left: 10px;
}