{{#each products}}
<div class="row">
    {{#each this}}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{{ this.imagePath }}" alt="..." class="img-responsve">
            <div class="caption">
                <h3>{{ this.title }}</h3>
                <p class="description">{{ this.description }}</p>
                <div class="clearfix">
                    <div class="price pull-left">{{ this.price }}</div>
                    <a href="/add-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}